<main class="main">
  <h3 class="title">Товары на складе</h3>
  <div class="table">
      <div class="table-row" id="table-header">
        @for (el of headerStringList; track el) {
          <div [ngClass]="el.class + ' ' + 'table-item'" [id]="el.class">
            {{el.name}}
            @if (el.class === 'isExists') {
                <button class="icon" (click)="openDialog(toggle, el.class)">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none" >
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 0.5C0.5 0.775 0.725 1 1 1H9C9.275 1 9.5 0.775 9.5 0.5C9.5 0.225 9.275 0 9 0H1C0.725 0 0.5 0.225 0.5 0.5ZM4.5 6H5.5C5.775 6 6 5.775 6 5.5C6 5.225 5.775 5 5.5 5H4.5C4.225 5 4 5.225 4 5.5C4 5.775 4.225 6 4.5 6ZM7.5 3.5H2.5C2.225 3.5 2 3.275 2 3C2 2.725 2.225 2.5 2.5 2.5H7.5C7.775 2.5 8 2.725 8 3C8 3.275 7.775 3.5 7.5 3.5Z" fill="#637381"/>
                </svg>
                </button>
              } @else {
                <button class="icon" (click)="openDialog(search, el.class)">
                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="12" viewBox="0 0 11 12" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.84481 8.27404L10.8275 10.2509C10.9379 10.3604 11 10.5094 11 10.6649C11 10.8204 10.9379 10.9695 10.8275 11.079C10.718 11.1894 10.569 11.2515 10.4135 11.2515C10.258 11.2515 10.1089 11.1894 9.99944 11.079L8.02258 9.09628C7.2076 9.73598 6.20121 10.0831 5.16516 10.0818C2.58867 10.0818 0.5 7.99313 0.5 5.41663C0.5 2.84013 2.58867 0.751465 5.16516 0.751465C7.74166 0.751465 9.83033 2.84013 9.83033 5.41663C9.83162 6.45268 9.48451 7.45907 8.84481 8.27404ZM5.16516 1.91776C3.23279 1.91776 1.66629 3.48425 1.66629 5.41663C1.66629 7.349 3.23279 8.9155 5.16516 8.9155C7.09754 8.9155 8.66404 7.349 8.66404 5.41663C8.66404 3.48425 7.09754 1.91776 5.16516 1.91776Z" fill="#637381"/>
                </svg>
              </button>
              }
          </div>
        }
      </div>
      @for (item of data; track item) {
        <div class="table-row">
          <span class="brand table-item" id="brand-item" [style]="$index%2 ? 'background:white':'background:#f3f3f3'">{{item.brand}}</span>
          <span class="article table-item">{{item.article}}</span>
          <span class="name table-item">{{item.name}}</span>
          <span class="price table-item">{{item.price}}</span>
          @if (item.isExists) {
            <span class="atStock table-item">В наличии</span>
          } @else {
            <span class="notAtStock table-item">Нет на складе</span>
          }
        </div>
      }
  </div>
</main>
<ng-template #search>
  <div class="modal-container">
    <div class="content">
      <input class="input" type="text" [(ngModel)]="inputText" (ngModelChange)="filter($event)">
      <button class="clear" (click)="clear()">X</button>
    </div>
  </div>
</ng-template>
<ng-template #toggle>
  <div class="modal-container">
    <div class="content">
      <input type="checkbox" [checked]="isChecked" (click)="setChecked()">
    </div>
  </div>
</ng-template>
