.table > :nth-child(2n) {
	background-color: #f3f3f3;
}

#table-header{
	background-color: #e0e0e0;
	position: sticky;
	top: 0;
	z-index: 3;
}

.title {
	color: #212B36;
	font-size: 20px;
}

.table {
	/* overflow-x: none; */
	/* overflow-y: scroll; */
	width: fit-content;
}
.table-item {
	position: relative;
}
.icon {
	position: absolute;
	right: 0;
	border: 0;
	cursor: pointer;
	background-color: #e0e0e0;
}
.isExists {
	flex: auto;
}
.table-row {
	display: flex;
	flex-direction: row;
	width: 100%;
	/* justify-content: space-between; */
}
.brand {
	position: sticky;
	z-index: 2;
	opacity: 1;
}
.table-header .brand {
	/* z-index: 10; */
}
.atStock {
	color: #00A0E3;
}



