body {
	width: 100%;
	font-family: "Open Sans";
	font-size: 12px;
	color: #2D2F30;
	box-sizing: border-box;
}
::-webkit-scrollbar{
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(135, 135, 135);
    border-radius: 9em;
    /* box-shadow: inset 1px 1px 10px #f3faf7; */
}

.name {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 568px;
}
.brand, .article, .name, .price, .atStock, .notAtStock, .isExists {
	padding: 16px 10px 16px 16px;
}
.brand {
	min-width: 212px;
	position: sticky;
	left: 0;
}
.article {
	min-width: 200px;
}
.name {
	min-width: 568px;
}
.price, .atStock, .notAtStock {
	min-width: 270px;
} 